<ion-header>
  <ion-navbar>
    <ion-title>
      Обьекты
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="content-back">
  <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  <button ion-button>Мои обьекты</button>
  <button ion-button>Эксклюзивные</button>

  <div *ngIf="!searchStatus">
    <div *ngFor="let object of objects" class="houses-inline">

      <div class="img-in">

        <ion-slides *ngIf="object.images && object.images.length" autoplay="1500" speed="800" paginationType="fraction"
                    loop="true"
                    parallax="true">
          <ion-slide *ngFor="let imgUrl of object.images">
            <img [src]="imgUrl" alt="">
          </ion-slide>
        </ion-slides>

      </div>

      <div class="text-area">
        <h1 class="header-area">{{object.address}}
        </h1>
        <div class="remont-style">
          <div class="remont">Цена:</div>
          <div class="remont-type">{{object.price}}</div>
        </div>
        <div class="remont-style">
          <div class="remont">Ответсвенный:</div>
          <div class="remont-type">{{object.sellerName}}</div>
        </div>
        <div class="remont-style">
          <div class="remont">Телефон(отв):</div>
          <div class="remont-type"><a href="">{{object.sellerPhone}}</a></div>
        </div>
      </div>

    </div>
  </div>


  <div *ngIf="searchStatus">
    <div *ngIf="search[0]">
      <div *ngFor="let object of search[0].hits" class="houses-inline">

        <div class="img-in">

          <ion-slides *ngIf="object._source.images && object._source.images.length" autoplay="1500" speed="800"
                      paginationType="fraction"
                      loop="true"
                      parallax="true">
            <ion-slide *ngFor="let imgUrl of object._source.images">
              <img [src]="imgUrl" alt="">
            </ion-slide>
          </ion-slides>

        </div>

        <div class="text-area">
          <h1 class="header-area">{{object._source.address}}
          </h1>
          <div class="remont-style">
            <div class="remont">Цена:</div>
            <div class="remont-type">{{object._source.price}}</div>
          </div>
          <div class="remont-style">
            <div class="remont">Ответсвенный:</div>
            <div class="remont-type">{{object._source.sellerName}}</div>
          </div>
          <div class="remont-style">
            <div class="remont">Телефон(отв):</div>
            <div class="remont-type"><a href="">{{object._source.sellerPhone}}</a></div>
          </div>
        </div>

        <hr/>
      </div>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab right bottom>
    <button ion-fab mini (click)="goCud()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
