page-contact {
  .circle {
    width: 100px;
    height: 100px;
    background: #b5b5b5;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: $content-margin*2 !important;
  }
  .info-user {
    text-align: center;
    margin-top: $content-margin*2;
  }
  .user-name {
    font-size: 16px;
  }
  .user-status {
    font-size: 14px;
    opacity: 0.7;
  }
  .form-phone {
    display: inline-block;
    margin: 16px;
  }
  .input-phone {
    border: #b5b5b5 1px solid;
    height: 42px;
    padding: 8px;
    width: 150px;
    border-radius: 8px;
    margin: 0 auto;
  }
  .input-search-phone {
    margin: 16px;
    width: 90%;
    display: inline-grid;
  }
  .address {
    overflow-x: scroll;
    text-overflow: clip;
  }
  .search-button {
    background: #00A8FF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: 0 auto;
    width: 160px;
  }
}
