page-home {
  .circle {
    width: 65px;
    height: 65px;
    background: #b5b5b5;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: $content-margin*2 !important;
    display: inline-block;
  }
  .info-user {
    text-align: center;
    margin-top: $content-margin*2;
    display: inline-block;
    vertical-align: top;
  }
  .user-name {
    font-size: 24px;
    width: 200px;
  }
  .user-status {
    line-height: 19px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);

  }
  .form-phone {
    display: inline-block;
    margin: 16px;
  }
  .input-phone {
    border: #b5b5b5 1px solid;
    height: 42px;
    padding: 8px;
    width: 150px;
    border-radius: 8px;
    margin: 0 auto;
  }
  .input-search-phone {
    margin: 16px;
    width: 90%;
    display: inline-grid;
  }
  .address {
    overflow-x: scroll;
    text-overflow: clip;
  }
  .search-button {
    background: #00A8FF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: 0 auto;
    width: 160px;
  }
  .inline-profile {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .card-human {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    min-width: 280px;
    height: 90px;
    margin: 16px;
  }
  .circle-small {
    height: 6px;
    width: 6px;
    background-color: #F68A6D;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }
  .main-info {
    padding: 24px;
    vertical-align: middle;
  }
  .info-block {
    display: inline-block;
    margin-left: 8px;
    font-size: 16px;
  }
  .clientPhone {
    margin-top: 8px;
    font-size: 12px;
    color: #7B7C7E;
  }
}
