page-potential-client {
  .clientName {
    margin: 8px 0;
    font-size: 18px;

    text-transform: uppercase;
  }
  .clientPhone {
    margin: 8px 0;
    font-size: 18px;
  }
  .objectInfo {
    margin: 8px;
    font-size: 14px ;
  }
}
